FITNESS_BOT_TOKEN=
FITNESS_BOT_USERNAME=FitnessAIBot
FITNESS_BOT_ENABLED=true

OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com
OPENAI_MODEL=gpt-4o-mini
OPENAI_TEMPERATURE=0.2

DB_URL=jdbc:postgresql://localhost:5432/fitnessaibot
DB_USERNAME=postgres
DB_PASSWORD=postgres

TZ=Europe/Moscow
